.logo {
  background-color: gray;
  width: 93px;
  height: 20px;
}
.whole{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.divider{
  background-color: lightgray;
  height: 1px;
}

.leftNav{
  height: 100vh;
  background-image: url('../public/img/left-nav-test.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.bodyContainer{
 
}
.dock{
  height: 200vh;
  background-image: url('../public/img/dock-test.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.settings {
  display: flex;
  flex-direction: row;
  gap:4rem;
  flex-wrap: wrap;
}
header{
  overflow: hidden;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 10rem;
}
.cardWidthAdjustment{
  width: 300px;
}
